.chat_container {
  display: flex;
  height: calc(100vh - var(--navHeight));
  flex-direction: row;
}

/* CONTACTS STYLES */
.ctts {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.ctt_list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ctts_header {
  padding: 7px 0px;
  margin: 20px 20px 5px;
  /* border-bottom: 1px solid #efefef; */
}

.srch_ctt_cont {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  align-items: center;
  flex-direction: row;
}
.srch_ctt_cont i:first-child {
  color: #555;
  padding: 9px 10px;
  border-radius: 100%;
  margin: 0px 10px 0px 0px;
  background: rgba(0, 0, 0, 0.03);
}
.srchCtt {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: author2;
  padding: 10px 10px;
  background: transparent;
}

.ctt {
  display: flex;
  margin: 10px 20px;
  flex-direction: row;
  padding: 7px 0px 15px 0px;
  width: calc(100% - 40px);
  border-bottom: 1px solid #efefef;
}
.ctt_img_cont {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin-right: 12px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.ctt_img {
  margin: 1px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.mssg_det {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}
.mssg_det_row {
  display: flex;
  margin: 3px 0px;
  font-size: 14px;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.sender_name {
  flex: 1;
  margin-top: 1px;
  overflow: hidden;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: roc_grotesk;
  font-family: sinistre;
}

.unread_mssg {
  color: #333;
  font-size: 12px;
  padding: 1px 7px;
  margin-left: 15px;
  margin-bottom: 1px;
  border-radius: 10px;
  font-family: author3;
  background: rgba(0, 0, 0, 0.1);
}
.lt_mssg {
  flex: 1;
  color: #666;
  height: 15px;
  overflow: hidden;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mssg_time {
  color: #888;
  font-size: 13px;
  margin-left: 15px;
  letter-spacing: 1px;
}

.add_ctt {
  color: #777;
  display: flex;
  margin: 10px 20px;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: calc(100% - 40px);
  padding: 15px 0px 15px 0px;
  border-top: 1px solid #ccc;
}

/* CHATROOM STYLES */
.chtrm {
  flex: 1;
  height: 100%;
}

/* CHATMEDIA STYLES */
.ctmedia {
  width: 290px;
  height: 100%;
  overflow: hidden scroll;
  border-left: 1px solid #ddd;
}
.ctmedia::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.ctmedia::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgba(150, 150, 150, 0.4);
  border-radius: 6px;
}

.ctt_dets {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.ctt_ppic_cover {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ctt_ppic_cont,
.ctt_ppic_cur {
  display: flex;
  margin: 40px 0;
  background: #fff;
  overflow: hidden;
  align-items: center;
  position: relative;
  border-radius: 100%;
  justify-content: center;

  background: linear-gradient(
    90deg,
    #ffffff 00%,
    #f93e3e 33%,
    #eaac60 50%,
    #9755ed 75%,
    #54ea81 100%
  );
  background-size: 350% 350%;
}
.ctt_ppic_cont {
  animation: gradient_two 10s ease infinite;
}
.ctt_ppic_cur {
  animation: gradient 10s ease infinite;
}

@keyframes gradient_two {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ctt_ppic_cur {
  margin-left: -15px;
}
.ctt_ppic {
  width: 65px;
  height: 65px;
  margin: 3px;
  border-radius: 100%;
  background-size: cover;
  background-position: 40% 50%;
}
.ctt_name {
  font-size: 18px;
  margin-bottom: 7px;
  font-family: roc_grotesk;
  font-family: sinistre;
}
.ctt_status {
  color: #999;
  font-size: 14px;
  font-family: author2;
}

.acties {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.calls {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
}

.ph_calls,
.vd_calls {
  display: flex;
  color: #777;
  font-size: 14px;
  margin: 0px 9px;
  padding: 8px 18px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.notif,
.wallpp,
.notes {
  display: flex;
  color: #888;
  font-size: 14px;
  margin: 0px 20px;
  padding: 12px 0px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}
.curWall {
  width: 20px;
  height: 15px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
}

.shd_med_cover {
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
}
.shd_md_hd {
  color: #888;
  font-size: 14px;
  padding: 12px 0px;
}

.shd_med_nav {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.shd_med_nav button {
  flex: 1;
  border: none;
  outline: none;
  display: flex;
  color: #555;
  margin: 0px 4px;
  padding: 7px 0px;
  align-items: center;
  background: initial;
  justify-content: center;
}
.shd_med_nav .nav_current {
  color: #111;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.shd_med {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-direction: row;
}
.shd_med .img_item_cont {
  margin: 4px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  width: calc(25% - 8px);
  padding-top: calc(25% - 10px);
}

.img_item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}
